*{
    padding: 0;
    margin: 0;
}
/*@font-face {
    font-family: Red Hat Text;
    src: url();
}*/
body{
    font-family: Red Hat Text;
    margin: 1.5rem;
    background-color: hsl(13, 31%, 94%);
    touch-action:manipulation;
}
#header{
    margin-top: -.5rem;
    margin-bottom: .5rem;
}
.cards{
    all:unset;
    display: grid;
}

ul li{
    list-style-type:none;
        & .cards-image{
            max-width: 100%;
            margin:1rem 0;
            border-radius: 10px;
        }
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-products{
    margin: .6rem 0;
    & :nth-child(1){
        font-weight: 400;
        color: hsl(12, 20%, 44%);
        font-size: smaller;
    }
    & :nth-child(2){
        font-weight: 600;
        margin: .2rem 0;
    }
    & :nth-child(3){
        font-weight: 600;
        color: hsl(14, 86%, 42%);
    }
}
.btn{
    position: absolute;
    bottom:-3px;
    display: flex;
    border:1px solid hsl(12, 20%, 44%);
    border-radius:30px;
    background-color: hsl(13, 31%, 94%);
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height:2.5rem;
    padding:1rem;
    font-size:.9rem;
        & .cards-decr,.cards-incr{
            width:12px;
            height:12px;
            display: none;
            border: 1px solid hsl(13, 31%, 94%);
            border-radius: 20px;
            padding: 3px;
            cursor: pointer;
        }
        /*& .cards-decr:hover,.cards-incr:hover{
            background: white;
            color: red;
        }*/
        & .cards-on{
            display: inline;
        }
        & .cards-off{
            display:none;
        } 
        & .cards-btn-txt{
            font-family: Red Hat Text;
            font-weight: 600;
        }
}

                /*CONDITIONAL STYLING*/
.btn-on{
    justify-content: space-between;
}
.img-on{
    border: 2.5px solid hsl(14, 86%, 42%);
}
                /*CONDITIONAL STYLING*/

.cart{
    margin: 1rem 0;
    padding:0 1.2rem;
    border-radius: 10px;
    background-color: hsl(20, 50%, 98%);
    display: flex;
    flex-direction: column;
        & >h2{
            margin:1.8rem 0 1rem 0;
            color: hsl(14, 86%, 42%);
        }
        & .cart-prices{
            display: flex;
            flex-direction: column;
            align-items: start;
                /* & p{
                    font-size: 1rem;
                    font-weight: 600;
                    color:hsl(12, 20%, 44%);
                } */
        }
}
.cart-prices-container{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    border-bottom: 1px solid hsla(14, 24%, 72%, 0.308);
}
.cart-prices-span{
    display: block;
    width: 100%;
    padding-bottom: .8rem;
    & p{
        display: inline;
        margin: 0 .4rem;
        margin-top: 1rem;
        font-size: .85rem;
    }
    & :nth-child(2){
        color: hsl(14, 86%, 42%);
        font-weight: 700;
    }
    & :nth-child(3){
        font-weight: 400;
        color: hsl(12, 20%, 44%);
    }
    & :nth-child(4){
        font-weight: 600;
        color: hsl(12, 20%, 44%);
    }
        & h4{
            padding:.5rem 0;
            font-weight: 600;
            font-size: .95rem;
        }
}
.svg{
    cursor:pointer;
    border: 1.99px solid hsl(12, 20%, 44%);
    padding: .15rem;
    border-radius: 50%;
}

.last-list{
    color:red;
     & p{
        color:blue;
     }
}

#cart-order{
    display: flex;
    flex-direction: column;
    width: 100%;
        & p{
            font-size:.85rem;
        }
}
#cart-order-total{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
        & :nth-child(2){
            font-size: x-large;
            font-weight: bolder;
        }
}
#cart-order-carbon{
    display: flex;
    justify-content: space-evenly;
    margin:.5rem 0;
    background-color: hsl(14, 25%, 92%);
    padding: .8rem;
    border-radius: 8px;
}
#cart-order-button{
    all: unset;
    background-color: hsl(14, 86%, 42%);
    padding: .9rem;
    border-radius: 30px;
    color: hsl(20, 50%, 98%);
    letter-spacing: .5px;
    text-align: center;
    margin: 1rem 0;
    box-sizing:border-box;
}

.order-container{
    border:1px solid black;
    background-color: white;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90%;
    z-index: 10;
    animation-duration: 200ms;
    animation-name: slide-in;
    overflow: scroll;
}
.order-list{
    display: flex;
    justify-content:left;
    align-items: center;
        /*& img{
            width: 60%;
        }*/

        & span{
            & .order-list-par{
                color:red;
                display: inline;
            }
            & .order-list-para{
                color:blue;
                display: inline;
            }
        }

        & p{
            margin-left:auto;
        }
}
.order-lower{
    display: flex;
}
@keyframes slide-in {
    from {
      height: 10%;
    }
  
    to {
      height: 90%;
    }
  }





