*{
    padding: 0;
    margin: 0;
}
/*@font-face {
    font-family: Red Hat Text;
    src: url();
}*/
body{
    font-family: Red Hat Text;
    margin: 1.5rem;
    background-color: hsl(13, 31%, 94%);
    touch-action:manipulation;
}
#header{
    margin-top: -.5rem;
    margin-bottom: .5rem;
}
.cards{
    all:unset;
    display: grid;
}

ul li{
    list-style-type:none;
        & .cards-image{
            max-width: 100%;
            margin:1rem 0;
            border-radius: 10px;
        }
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-products{
    margin: .6rem 0;
    & :nth-child(1){
        font-weight: 400;
        color: hsl(12, 20%, 44%);
        font-size: smaller;
    }
    & :nth-child(2){
        font-weight: 600;
        margin: .2rem 0;
    }
    & :nth-child(3){
        font-weight: 600;
        color: hsl(14, 86%, 42%);
    }
}
.btn{
    position: absolute;
    bottom:-3px;
    display: flex;
    border:1px solid hsl(12, 20%, 44%);
    border-radius:30px;
    background-color: hsl(13, 31%, 94%);
    justify-content: center;
    align-items: center;
    width: 50%;
    height:2.5rem;
    padding:1rem;
    font-size:.9rem;
        & p{
            margin-left: 5%;
        }
        & .cards-decr,.cards-incr{
            width:12px;
            height:12px;
            display: none;
            border: 1px solid hsl(13, 31%, 94%);
            border-radius: 20px;
            padding: 3px;
            cursor: pointer;
        }
        /*& .cards-decr:hover,.cards-incr:hover{
            background: white;
            color: red;
        }*/
        & .cards-on{
            display: inline;
        }
        & .cards-off{
            display:none;
        } 
        & .cards-btn-txt{
            font-family: Red Hat Text;
            font-weight: 600;
        }
}

                /*CONDITIONAL STYLING*/
.btn-on{
    justify-content: space-between;
    & p{
        margin-left: 0;
    }
}
.img-on{
    border: 2.5px solid hsl(14, 86%, 42%);
}
                /*CONDITIONAL STYLING*/

.cart{
    margin: 1rem 0;
    padding:0 1.2rem;
    border-radius: 10px;
    background-color: hsl(20, 50%, 98%);
    display: flex;
    flex-direction: column;
        & >h2{
            margin:2rem 0 .8rem 0;
            color: hsl(14, 86%, 42%);
        }
        & .cart-prices{
            display: flex;
            flex-direction: column;
            align-items: start;
                & >p{
                    font-size:smaller ;
                    font-weight: 600;
                    color:hsl(12, 20%, 44%);
                    padding-bottom: 2rem;
                    align-self: center;
                }
                & img{
                    align-self: center;
                } 
        }
}
.cart-prices-container{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    border-bottom: 1px solid hsla(14, 24%, 72%, 0.308);
}
.cart-prices-span{
    display: block;
    width: 100%;
    padding-bottom: .8rem;
    & p{
        display: inline;
        margin: 0 .4rem;
        margin-top: 1rem;
        font-size: .85rem;
    }
    & :nth-child(2){
        color: hsl(14, 86%, 42%);
        font-weight: 700;
    }
    & :nth-child(3){
        font-weight: 400;
        color: hsl(12, 20%, 44%);
    }
    & :nth-child(4){
        font-weight: 600;
        color: hsl(12, 20%, 44%);
    }
        & h4{
            padding:.5rem 0;
            font-weight: 600;
            font-size: .95rem;
        }
}
.svg{
    cursor:pointer;
    border: 1.99px solid hsl(12, 20%, 44%);
    padding: .15rem;
    border-radius: 50%;
}

/* .last-list{
    color:yellow;
     & p{
        color:blue;
     }
} */

#cart-order{
    display: flex;
    flex-direction: column;
    width: 100%;
        & p{
            font-size:.85rem;
        }
}
#cart-order-total{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
        & :nth-child(2){
            font-size: x-large;
            font-weight: bolder;
        }
}
#cart-order-carbon{
    display: flex;
    justify-content: space-evenly;
    margin:.5rem 0;
    background-color: hsl(14, 25%, 92%);
    padding: .8rem;
    border-radius: 8px;
}
#cart-order-button{
    all: unset;
    background-color: hsl(14, 86%, 42%);
    padding: .9rem;
    border-radius: 30px;
    color: hsl(20, 50%, 98%);
    letter-spacing: .5px;
    text-align: center;
    margin: 1rem 0;
    box-sizing:border-box;
}



.order-container{
    background-color: white;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90%;
    z-index: 10;
    animation-duration: 400ms;
    animation-timing-function:ease-out;
    animation-name: slide-in;
    overflow: scroll;
    border-radius: 1rem 1rem 0 0;
}
.order-subcontainer{
    margin:2rem 1.5rem 0 1.5rem ;
    & >h1{
        font-size: 2rem;
        max-width: 50%;
        margin-top: 1rem;
        line-height: 1.2;

    }
    & >p{
    margin-top: .5rem;
    margin-bottom:1.5rem;
    color: hsl(7, 20%, 60%);
    }
}





.order-containerTwo{
    background-color: hsl(13, 31%, 94%);
    padding: 1.5rem;
    border-radius: 10px;
}
.order-list{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid hsla(14, 24%, 72%, 0.308);
    padding-bottom: 1rem;
        & img{
            width: 13vw;
            border-radius: .3rem;
        }
        

        & span{
            margin-left: .5rem;
            & .order-list-quantity{
                color:hsl(14, 86%, 42%);
                font-weight: 700;
                display: inline;
            }
            & .order-list-atprice{
                color:hsl(7, 20%, 60%);
                display: inline;
                margin-left: 1rem;
            }
            & .order-list-name{
                font-weight: 600;
                width: 35vw;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: .5rem;
            }
            
        }
        & #order-list-total{
            margin-left: auto;
            font-weight: 600;

        }
}
.order-lower{
    display: flex;
    justify-content: space-between;
    align-items: center;

        & p{
            font-size: smaller;
            color: hsl(14, 65%, 9%);
            font-weight: 600;
        }
        & h2{
            font-weight: 700;

        }
}
#order-lower-btn{
    all: unset;
    width: 100%;
    background-color: hsl(14, 86%, 42%);
    padding: .9rem;
    border-radius: 30px;
    color: hsl(20, 50%, 98%);
    letter-spacing: .5px;
    text-align: center;
    margin: 2rem 0;
    box-sizing:border-box;
}
@keyframes slide-in {
    from {
      height: 10%;
    }
  
    to {
      height: 90%;
    }
  }




